@{
    ViewData["Title"] = "Home Page";
}
<!--==================== HOME ====================-->
<section class="home section" id="home">
    <div class="home__container container grid">
        <div class="home__content grid">
            <div class="home__social">
                <!-- All links removed -->
                <a class="home__social-icon">
                    <i class="uil uil-facebook-f"></i>
                </a>
                <a class="home__social-icon">
                    <i class="uil uil-instagram"></i>
                </a>
                <a class="home__social-icon">
                    <i class="ri-twitter-x-fill"></i>
                </a>
            </div>
            <div class="home__img">
                <img src="~/images/aa.png" alt="aa image" />
            </div>
            <div class="home__data">
                <h1 class="home__title">Healthcare at DPI Hospital</h1>
                <h2 class="home__subtitle">
                    Follow us for health advice.
                </h2>
                <p class="home__description">
                    DPI Hospital provides progressive and affordable healthcare, accessible to everyone online.
                </p>
            </div>
        </div>
    </div>
</section>

<!--==================== ABOUT ====================-->
<section class="about section" id="about">
    <h2 class="section__title">About Us</h2>
    <span class="section__subtitle">DPI Hospital</span>

    <div class="about__container container grid">
        <img src="~/images/aa2.png" alt="" class="about__img" />

        <div class="about__data">
            <p class="about__description">
                Welcome to DPI Hospital, where your health is our priority. Our dedicated team provides compassionate and cutting-edge medical care, ensuring your well-being. With state-of-the-art technology, we offer personalized services and a warm, supportive environment. Trust DPI Hospital for exceptional healthcare that makes a positive difference in your life.
            </p>
            <div class="about__info">
                <div>
                    <span class="about__info-title">30+</span>
                    <span class="about__info-name">
                        Medical <br />
                        Staff
                    </span>
                </div>

                <div>
                    <span class="about__info-title">600+</span>
                    <span class="about__info-name">
                        Completed <br />
                        Appointments
                    </span>
                </div>
                <div>
                    <span class="about__info-title">550+</span>
                    <span class="about__info-name">
                        Successful <br />
                        Surgeries
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==================== SERVICES ====================-->
<section class="services section" id="services">
    <h2 class="section__title">Services</h2>
    <span class="section__subtitle">What We Offer</span>

    <div class="services__container container grid">
        <!--==================== SERVICES 1 ====================-->
        <div class="services__content">
            <div>
                <img src="~/images/service-icon-3.png" alt="">
                <h3 class="services__title">
                    Consultation
                </h3>
            </div>
        </div>
        <!--==================== SERVICES 2 ====================-->
        <div class="services__content">
            <div>
                <img src="~/images/service-icon-4.png" alt="">
                <h3 class="services__title">
                    Tracking
                </h3>
            </div>
        </div>
        <!--==================== SERVICES 3 ====================-->
        <div class="services__content">
            <div>
                <img src="~/images/service-icon-6.png" alt="">
                <h3 class="services__title">
                    Detailed Information
                </h3>
            </div>
        </div>
    </div>
</section>

<!--==================== ADDITIONAL ABOUT ====================-->
<section class="about section" id="sub_about">
    <div class="about__container container grid">
        <img src="~/images/aa4.png" alt="" class="about__img" />

        <div class="about__data">
            <p class="about__description">
                We provide you with the best choices tailored to your health needs. Ensure you undergo treatment with our highly qualified doctors, and consult with us regarding which type of service is suitable for your health.
            </p>
        </div>
    </div>
</section>
